@{
    Layout = null;
}
<html>
<head>
<meta name="viewport" content="width=device-width" />
<title>Index</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <h1>This is the entry page.</h1>
    <div id="fillthis"></div>
    <div id="fillthiswithjquery"></div>
    <script src="~/Source/lib.js"></script>
    <script src="~/Source/app.js"></script>
</body>
</html>