@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/dist/allstyles.css" />
</head>
<body class="container">
   
    <div id="reactcomponentwithapidata"></div>

    <script src="~/dist/bundle.js"></script>
</body>
</html>